[submodule "python_benchmarks"]
	path = targets/python_benchmarks
	url = https://github.com/tochilinak/python_benchmarks.git
[submodule "targets/python_benchmarks"]
	path = targets/python_benchmarks
	url = https://github.com/tochilinak/python_benchmarks.git
